#searchBarResults{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
    width: auto;
}
#initialPageDiv {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
    width: auto;
    gap: 1rem;

}
#initialPageDiv > a{
    width: fit-content;
    height: fit-content;
}
html {
    color: black;
}
.card{
    height: 33rem;
}
.card-img-top {
height: -webkit-fill-available;
}